body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#textBox, #buttons{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@font-face{
  font-family: 'HogwartsFont';
  src: url("../assets/fonts/HogwartsFont.TTF");
}

#textBox, #continue, #replay{
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'HogwartsFont';
  font-size: 100px;
}

#continue, #replay

{
  display: none;
  text-decoration: none;
}

#continue:hover, #replay:hover{
  text-shadow: 0 0 50px #fcd703;
}
#buttons {
  position: absolute;
  display: none;
  text-decoration: none;
  
}

#buttons button{  
  font-family: 'HogwartsFont';
  font-size: 40px;
  color: white;
  background-color: #3b4661;
  width: 15%;
  height: 7%;
  border: none;
  border-radius: 20px;
  transition: 0.2s;
}

button:hover{
  background-color: #333c52 !important;
  width: 15.5% !important;
  height: 7.5% !important;
  box-shadow: 0 0 20px white;
  transition: 0.2s;
}

#cat{
  margin: 3% 0 3% 0;
}

main {
  width: 100vw;
  height: 100vh;
}