
@font-face{
  font-family: 'HogwartsFont';
  src: url("../assets/fonts/HogwartsFont.TTF");
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#textBox, .questionnaire, #scheduledBtns, #getNameContainer, #replay {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#textBox, #replay, #getNameContainer{
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'HogwartsFont';
  font-size: 100px;
}

.questionnaire {
  position: absolute; 
  text-decoration: none; 
}

.next, .class, #nameSubmitBtn, #playBtn {  
  font-family: 'HogwartsFont';
  font-size: 40px;
  color: white;
  background-color: #3b4661;
  width: 20%;
  height: 7%;
  border: none;
  border-radius: 20px;
  transition: 0.2s;
  margin-bottom: 30px;
}

.class:hover, .next:hover, #nameSubmitBtn:hover, #playBtn:hover {
  background-color: #333c52 !important;
  width: 20.5% !important;
  height: 7.5% !important;
  box-shadow: 0 0 20px white;
  transition: 0.2s;
}

.class{
  width: 20%;
  height: 15%;
  font-size: 100px;
  margin: 0;
}

.class:hover{
  width: 20.5% !important; 
  height: 15.5% !important;
}

.disabled{
  width: 20%;
  height: 15%;
  font-size: 100px;
  font-family: 'HogwartsFont';
  border-radius: 20px;
  border: none;;
  margin: 0;
  background-color: rgba(110, 110, 110, 0.9);
  color: rgba(255, 255, 255, 0.5);
}

#getNameContainer, #replay, .questionnaire, .class {
  display: none;
}

#errorMsg{
  font-family: 'Schoolbook';
  color: red;
  font-size: 15px;
}

/* main {
  width: 100vw;
  height: 100vh;
} */

::placeholder {
  color: rgb(196, 196, 196);
  font-size: 25px;
  opacity: 1; 
}

#userName{
  width: 20%;
  height: 5%;
  font-family: 'Schoolbook';
  font-size: 25px;
  padding: 0;
}

#scheduleBtns{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display:none;
}

#charms{
  margin: 0 5%;
}

#mushroom{
  background: url("../assets/images/mushroom.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#batwing{
  background: url("../assets/images/batwing.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#mandrake{
  background: url("../assets/images/mandrake.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ingredients{
  width: 200px;
  height: 200px;
  border: none;
}

#potionIngredientBtns{
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 20vh;
}

.selected{
  opacity: 0.5;
  width: 150px;
  height: 150px;
  border: solid black 1px;
}

.ingredients:disabled{
  opacity: 0;
}